<!doctype html>
<html>
  <head>
    <title>Course Publication Request</title>
  </head>
  <body>
    <h1>Hi <%= name %>,</h1>
    <p>
    <strong><%= user %></strong> has requested for a course publication named <strong><%= course %></strong>.
    </p>
  </body>
</html>
