<!doctype html>
<html>
  <head>
    <title>Course Subscription</title>
  </head>
  <body>
    <h1>Hi <%= name %>,</h1>
    <p>
      <%= user %> applied for course Subscription.
    </p>
   
  </body>
</html>
