<!doctype html>
<html>
  <head>
    <title>Course Subscription</title>
  </head>
  <body>
    <h1>Hi <%= name %>,</h1>
    <p>
      Your application for the course <strong><%= courseName %></strong> is
      rejected.
    </p>
    <p><%= details%></p>
    <a
      href="<%= URL %>"
      style="
        background-color: royalblue;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
      "
      >Click Here</a
    >
    <p>If the button doesn't work paste the url in the browser</p>
  </body>
</html>
