<!doctype html>
<html>
  <head>
    <title>Course Subscription Accepted</title>
  </head>
  <body>
    <h1>Hi <%= name %>,</h1>
    <p>
      Your application for the course <strong><%= courseName %></strong> is
      approved. 
    </p>
   
  </body>
</html>
