<!doctype html>
<html>
  <head>
    <title>Course Subscription Rejected</title>
  </head>
  <body>
    <h1>Hi <%= name %>,</h1>
    <p>
      Your application for the course <strong><%= courseName %></strong> is
      rejected.
    </p>
    <p><%= details%></p>

  </body>
</html>
